@import 'node_modules/govuk-frontend/dist/govuk/index';

.govuk-heading-l {
  display: flex;
}

.govuk-summary-list__actions--flex {
  display: flex;
  justify-content: flex-end;

  @include govuk-media-query($until: tablet) {
    justify-content: flex-start;
  }
}
