.ta-backdrop {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.section {
  position: absolute; 
  max-height: 24rem; 
  top: 12px;
  left: 0;
  right: 0;
  width: auto;
  overflow: auto; 
  border: 0;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  background-color: rgb(255,255,255);
  z-index: 2;
}

.button {
  border: 0;
  appearance: none;
  padding: 0;
  margin: 0;
  position: relative; 
  display: block; 
  width: 100%; 
  outline: 2px solid transparent; 
  outline-offset: 2px;
}