@import 'node_modules/govuk-frontend/govuk/all';

:host {
  govuk-form-group-input::ng-deep .govuk-form-group label,
  govuk-form-group-textarea::ng-deep .govuk-form-group label
  {
    @extend .govuk-label--s;
  }
}
