.vehicle-summary {
  position: sticky !important;
  top: 40px;
}

@media (max-width: 1000px) {
  .vehicle-summary {
    position: relative !important;
    top: auto;
  }
}

.govuk-summary-list__value--view {
  overflow-wrap: normal;
  padding-top: 0px;
  padding-bottom: 0px !important;
}

.govuk-summary-list__value--overflow {
  overflow-wrap: normal;
  padding-top: 0px;
  padding-bottom: 15px !important;
}

.govuk-summary-list__value--vin {
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 15px !important;
}

.govuk-summary-list__value--vrm {
  padding-right: 0px;
  padding-top: 8px;
  padding-bottom: 15px !important;
  overflow: visible;
  white-space: nowrap;
}

.govuk-summary-list__value--tag {
  overflow-wrap: normal;
  padding-top: 8px;
  padding-bottom: 15px !important;
}

.govuk-accordion--vtm {
  padding: 0px;
  border: 1px solid #b1b4b6;
}

::ng-deep.govuk-accordion__controls .govuk-accordion__show-all {
  margin-bottom: 0;
}

.govuk-accordion__section-header-vtm {
  padding: 0 20px 0 20px;
  border-top: 1px solid #b1b4b6;
}

.govuk-accordion__section-header-vtm-top {
  padding: 0 20px 0 20px;
  border-top: none;
}

.govuk-accordion__section-heading-top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px 20px;
  background-color: #f3f2f1;
}

.govuk-accordion__section-heading-top {
  margin-top: 0px;
  margin-bottom: 0px;
}

.govuk-accordion-heading-vtm {
  font-family: 'GDS Transport', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  position: relative;
  z-index: 1;
  margin-bottom: 14px;
  padding: 5px 2px 5px 0;
  border-width: 0;
  color: black;
  background: none;
  line-height: 1.3157894737;
}

.filter-box {
  padding: 5px 20px 5px 20px;
}

.govuk-summary-list__key-tech {
  width: 48%;
  padding-bottom: 4px !important;
}

.govuk-summary-list__key-filter {
  font-family: 'GDS Transport', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1.1875rem;
  color: #0b0c0c;
  margin: 0;
  display: inline-block;
  padding-right: 20px;
}

.govuk-summary-list__value--filter {
  display: inline-block;
}

.govuk-summary-list__row--value {
  border-bottom: 1px solid #b1b4b6;
}

.govuk-summary-list__row--last {
  border-bottom: 0px;
}

/* TODO: move into chip/pill/lozenge component along with html */
.app-c-filter-summary__remove-filter {
  border: 1px solid #b1b4b6;
  border-radius: 0.3125em;
  padding: 5px 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #0b0c0c;
  background-color: #f3f2f1;
  font-family: 'GDS Transport', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
}

.app-c-filter-summary__remove-filter-text--selected {
  color: white;
}

.app-c-filter-summary__remove-filter--selected {
  border: 1px solid #b1b4b6;
  border-radius: 0.3125em;
  padding: 5px 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #0b0c0c;
  background-color: #1d70b8;
  font-family: 'GDS Transport', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
}

@media print {
  .app-c-filter-summary__remove-filter {
    font-family: sans-serif;
  }
}

@media print {
  .app-c-filter-summary__remove-filter {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.app-c-filter-summary__remove-filter:focus {
  background-color: #fd0 !important;
  outline: 2px #0b0c0c solid !important;
  outline-offset: 0 !important;
  border-color: #0b0c0c !important;
  outline: none !important;
  color: #0b0c0c !important;
  background-color: none !important;
  box-shadow: none !important;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.app-c-filter-summary__remove-filter:hover {
  outline: 1px #0b0c0c solid !important;
  outline-offset: 0 !important;
  border-color: #0b0c0c !important;
  text-decoration-thickness: none !important;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  text-decoration-skip: none;
}

.app-c-filter-summary__remove-filter--selected:focus
  .app-c-filter-summary__remove-filter-text--selected {
  color: black !important;
}

.app-c-filter-summary__remove-filter:visited {
  color: #1d70b8;
}

.disabled-vtm {
  cursor: not-allowed !important;
}

.app-c-filter-summary__clear-filters {
  font-family: 'GDS Transport', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
}

@media print {
  .app-c-filter-summary__clear-filters {
    font-family: sans-serif;
  }
}

@media print {
  .app-c-filter-summary__clear-filters {
    font-size: 14pt;
    line-height: 1.15;
  }
}
