@let id = controlId() || controlName();
@let hintId = id + '-hint';
@let labelId = id + '-label';
@let errorId = id + '-error';
@let hasError = control()?.invalid && control()?.touched && control()?.errors;

<div class="govuk-form-group">
  @if (controlLabel(); as label) {
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--m" id="{{ labelId }}" for="{{ id }}"> {{ label }} </label>
    </h1>
  }

  @if (controlHint(); as hint) {
    <div class="govuk-hint" id="{{ hintId }}"> {{ hint }} </div>
  }

  @if(hasError) {
    <p class="govuk-error-message" id="{{ errorId }}">
      <span class="govuk-visually-hidden">Error: </span>
      <span>{{ (control()?.errors | keyvalue)?.[0]?.value }}</span>
    </p>
  }

  <input 
    type="text"
    class="govuk-input" 
    id="{{ id }}"
    name="{{ id }}"
    [(ngModel)]="value" 
    (ngModelChange)="onChange($event)" 
    (blur)="blur.emit($event); onTouched()" 
    (focus)="focus.emit($event);"
    [disabled]="disabled()"
    [class.govuk-input--error]="hasError"
    [attr.data-testid]="id"
    [attr.aria-labelledby]="controlLabel() ? labelId : null"
    [attr.aria-describedby]="(controlHint() ? hintId : '') + (hasError ? ' ' + errorId : '')"
  />
</div>