<ng-container *ngIf="amendedTechRecord() as tr">
  <dl class="govuk-summary-list" *ngIf="tr.techRecord_vehicleType === VehicleTypes.PSV">
    <!-- Microfilm document type -->
    <div class="govuk-summary-list__row" *ngIf="hasChanged('techRecord_microfilm_microfilmDocumentType')">
      <dt class="govuk-summary-list__key">Microfilm document type</dt>
      <dd class="govuk-summary-list__value" id="test-techRecord_microfilm_microfilmDocumentType">
        {{ tr.techRecord_microfilm_microfilmDocumentType | defaultNullOrEmpty }}
      </dd>
    </div>
    <!-- Microfilm roll number -->
    <div class="govuk-summary-list__row" *ngIf="hasChanged('techRecord_microfilm_microfilmRollNumber')">
      <dt class="govuk-summary-list__key">Microfilm roll number</dt>
      <dd class="govuk-summary-list__value" id="test-techRecord_microfilm_microfilmRollNumber">
        {{ tr.techRecord_microfilm_microfilmRollNumber | defaultNullOrEmpty }}
      </dd>
    </div>
    <!-- Microfilm serial number -->
    <div class="govuk-summary-list__row" *ngIf="hasChanged('techRecord_microfilm_microfilmSerialNumber')">
      <dt class="govuk-summary-list__key">Microfilm serial number</dt>
      <dd class="govuk-summary-list__value" id="test-techRecord_microfilm_microfilmSerialNumber">
        {{ tr.techRecord_microfilm_microfilmSerialNumber | defaultNullOrEmpty }}
      </dd>
    </div>
  </dl>
</ng-container>
