@import 'node_modules/govuk-frontend/govuk/all';

:host {
  govuk-form-group-input::ng-deep .govuk-form-group label,
  govuk-form-group-radio::ng-deep .govuk-form-group .govuk-fieldset__heading,
  govuk-form-group-textarea::ng-deep .govuk-form-group label,
  govuk-form-group-autocomplete::ng-deep label
  {
    @extend .govuk-label--s;
  }

  .input-group::ng-deep .govuk-form-group label
  {
    @extend .govuk-label;
    font-weight: 400;
  }
}

.input-row {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.govuk-\!-margin-bottom-15 {
  margin-bottom: 15px !important;
}

.govuk-\!-margin-bottom-12::ng-deep > .govuk-form-group {
  margin-bottom: 12px !important;
}

.select-width::ng-deep .govuk-select {
  min-width: 10.5rem;
  max-width: 10.5rem;
}
