.govuk-summary-list__value--view {
  overflow-wrap: normal;
  padding-top: 0px;
  padding-bottom: 0px !important;
}

.govuk-summary-list__value--overflow {
  overflow-wrap: normal;
  padding-top: 0px;
  padding-bottom: 15px !important;
}

.govuk-summary-list__value--vin {
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 15px !important;
}

.govuk-summary-list__value--vrm {
  padding-right: 0px;
  padding-top: 8px;
  padding-bottom: 15px !important;
  overflow: visible;
  white-space: nowrap;
}

.govuk-summary-list__value--tag {
  overflow-wrap: normal;
  padding-top: 8px;
  padding-bottom: 15px !important;
}


.govuk-summary-list__key-tech {
  width: 48%;
  padding-bottom: 4px !important;
}

.govuk-summary-list__row--value {
  border-bottom: 1px solid #b1b4b6;
}

.govuk-summary-list__row--last {
  border-bottom: 0px;
}

.summary-link-wrapper {
  padding-top: 0px;
  padding-bottom: 0px;
  float: right;
  padding-left: 10px;
}

.summary-link {
  font-size: 1rem;
  padding-left: 1px;
}

.govuk-summary-list__actions-list-item {
  margin-left: 5px;
  padding-left: 5px;
}