@import "node_modules/govuk-frontend/dist/govuk/settings/colours-applied";

a {
  cursor: pointer;
}

#sign-out {
  margin-left: 1rem;
}

header.govuk-header {
  background-color: $govuk-brand-colour;
}
