@import 'node_modules/govuk-frontend/govuk/all';

:host {
  govuk-form-group-input::ng-deep .govuk-form-group label
  {
    @extend .govuk-label--s;
  }
  .flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 2rem;
  }
  govuk-form-group-input.govuk-\!-font-weight-regular::ng-deep .govuk-form-group label {
    font-weight: 400 !important;
  }
}
