<div [formGroup]="form">
  <!-- Show warning message when setting from yes to no -->
  <ng-container *ngIf="canDisplayDangerousGoodsWarning($any(form.getRawValue()))">
    <p class="govuk-error-message" id="techRecord_adrDetails_dangerousGoods-error">
      <span class="govuk-visually-hidden">Error: </span>
      <span>By selecting this field it will delete all previous ADR field inputs</span>
    </p>
  </ng-container>

  <govuk-radio-group for="techRecord_adrDetails_dangerousGoods" label="Able to carry dangerous goods">
    <ng-container *ngFor="let option of dangerousGoodsOptions">
      <govuk-radio formControlName="techRecord_adrDetails_dangerousGoods" [value]="option.value">
        {{ option.label}}
      </govuk-radio>
    </ng-container>
  </govuk-radio-group>

  <!-- When dangerous goods is true -->
  <ng-container *ngIf="adrService.canDisplayDangerousGoodsSection($any(form.getRawValue()))">

    <!-- Applicant Details -->
    <span class="govuk-label govuk-label--m">Applicant Details</span>

    <govuk-input label="Name" formControlName="techRecord_adrDetails_applicantDetails_name" />

    <govuk-input label="Street" formControlName="techRecord_adrDetails_applicantDetails_street" />

    <govuk-input label="Town" formControlName="techRecord_adrDetails_applicantDetails_town" />

    <govuk-input label="City" formControlName="techRecord_adrDetails_applicantDetails_city" />

    <govuk-input label="Postcode" formControlName="techRecord_adrDetails_applicantDetails_postcode" />

    <!-- ADR Details -->
    <span class="govuk-label govuk-label--m">ADR Details</span>

    <govuk-select 
      label="ADR body type" 
      formControlName="techRecord_adrDetails_vehicleDetails_type" 
      [options]="adrBodyTypesOptions"
    ></govuk-select>

    <govuk-radio-group for="techRecord_adrDetails_vehicleDetails_usedOnInternationalJourneys" label="Vehicle used on international journeys">
      <ng-container *ngFor="let option of usedOnInternationJourneysOptions">
        <govuk-radio formControlName="techRecord_adrDetails_vehicleDetails_usedOnInternationalJourneys" [value]="option.value">
          {{ option.label}}
        </govuk-radio>
      </ng-container>
    </govuk-radio-group>

    <govuk-date label="Date processed" formControlName="techRecord_adrDetails_vehicleDetails_approvalDate" />

    <govuk-checkbox-group 
      label="Permitted dangerous goods" 
      formControlName="techRecord_adrDetails_permittedDangerousGoods" 
      [options]="permittedDangerousGoodsOptions" 
    ></govuk-checkbox-group>

    <ng-container *ngIf="adrService.canDisplayBodyDeclarationSection($any(form.getRawValue()))">
      <govuk-radio-group for="techRecord_adrDetails_bodyDeclaration_type" label="Body declaration">
        <ng-container *ngFor="let option of bodyDeclarationOptions">
          <govuk-radio formControlName="techRecord_adrDetails_bodyDeclaration_type" [value]="option.value">
            {{ option.label}}
          </govuk-radio>
        </ng-container>
      </govuk-radio-group>
    </ng-container>

    <ng-container *ngIf="adrService.canDisplayCompatibilityGroupJSection($any(form.getRawValue()))">
      <govuk-radio-group for="techRecord_adrDetails_compatibilityGroupJ" label="Compatibility group J">
        <ng-container *ngFor="let option of compatibilityGroupJOptions">
          <govuk-radio formControlName="techRecord_adrDetails_compatibilityGroupJ" [value]="option.value">
            {{ option.label}}
          </govuk-radio>
        </ng-container>
      </govuk-radio-group>
    </ng-container>

    <govuk-checkbox-group label="Guidance notes" formControlName="techRecord_adrDetails_additionalNotes_number" [options]="guidanceNotesOptions" />

    <govuk-input label="ADR type approval number" formControlName="techRecord_adrDetails_adrTypeApprovalNo" />

    <!-- When ADR body type contains the words 'tank' or 'battery' -->
    <ng-container *ngIf="adrService.canDisplayTankOrBatterySection($any(form.getRawValue()))">

      <!-- Tank details section -->
      <span class="govuk-label govuk-label--m">Tank Details</span>

      <govuk-input label="Tank Make" formControlName="techRecord_adrDetails_tank_tankDetails_tankManufacturer" />

      <govuk-number-input label="Tank year of manufacture" formControlName="techRecord_adrDetails_tank_tankDetails_yearOfManufacture" />

      <govuk-input label="Manufacturer serial number" formControlName="techRecord_adrDetails_tank_tankDetails_tankManufacturerSerialNo" />

      <govuk-input label="Tank type approval number" formControlName="techRecord_adrDetails_tank_tankDetails_tankTypeAppNo" />

      <govuk-input label="Code" formControlName="techRecord_adrDetails_tank_tankDetails_tankCode" />
      
      <govuk-radio-group label="Substances permitted" for="techRecord_adrDetails_tank_tankDetails_tankStatement_substancesPermitted">
        <ng-container *ngFor="let option of tankStatementSubstancePermittedOptions">
          <govuk-radio formControlName="techRecord_adrDetails_tank_tankDetails_tankStatement_substancesPermitted" [value]="option.value">
            {{ option.label }}
          </govuk-radio>
        </ng-container>
      </govuk-radio-group>

      <!-- When tank statement (substances permitted) is 'Under UN Number' -->
      <ng-container *ngIf="adrService.canDisplayTankStatementSelectSection($any(form.getRawValue()))">
        <govuk-radio-group label="Select" for="techRecord_adrDetails_tank_tankDetails_tankStatement_select">
          <ng-container *ngFor="let option of tankStatementSelectOptions">
            <govuk-radio formControlName="techRecord_adrDetails_tank_tankDetails_tankStatement_select" [value]="option.value">
              {{ option.label }}
            </govuk-radio>
          </ng-container>
        </govuk-radio-group>

        <!-- When select is 'statement' -->
        <ng-container *ngIf="adrService.canDisplayTankStatementStatementSection($any(form.getRawValue()))">
          <govuk-input label="Reference Number" formControlName="techRecord_adrDetails_tank_tankDetails_tankStatement_statement" />
        </ng-container>

        <!-- When select is 'product '-->
        <ng-container *ngIf="adrService.canDisplayTankStatementProductListSection($any(form.getRawValue()))">
          <govuk-input label="Reference number" formControlName="techRecord_adrDetails_tank_tankDetails_tankStatement_productListRefNo" />

          <!-- UN numbers -->
          <app-control-errors elementId="techRecord_adrDetails_tank_tankDetails_tankStatement_productListUnNo-error" [control]="$any(form.get('techRecord_adrDetails_tank_tankDetails_tankStatement_productListUnNo'))" />

          <div class="govuk-form-group" formArrayName="techRecord_adrDetails_tank_tankDetails_tankStatement_productListUnNo">
            <ng-container *ngFor="let inspection of form.controls.techRecord_adrDetails_tank_tankDetails_tankStatement_productListUnNo.controls; let i = index">
              <fieldset class="govuk-fieldset">
              <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-label--m" for="techRecord_adrDetails_tank_tankDetails_tankStatement_productListUnNo-{{ i + 1 }}">
                    UN Number {{ i + 1 }}
                  </label>
                </h1>
                <ng-container *ngIf="form.controls.techRecord_adrDetails_tank_tankDetails_tankStatement_productListUnNo.controls.length > 1; else singleUnNumber">
                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        <govuk-input id="techRecord_adrDetails_tank_tankDetails_tankStatement_productListUnNo-{{ i + 1 }}" formControlName="{{ i }}" />
                      </td>
                      <td class="govuk-table__cell">
                        <p class="govuk-body">
                          <a class="govuk-link" href="javascript:void(0)" (click)="removeUNNumber(i)">Remove</a>
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
                </ng-container>
                <ng-template #singleUnNumber>
                  <govuk-input id="techRecord_adrDetails_tank_tankDetails_tankStatement_productListUnNo-{{ i + 1 }}" formControlName="{{ i }}" />
                </ng-template>
              </div>
            </fieldset>
            </ng-container>
            <p class="govuk-body">
              <a class="govuk-link" href="javascript:void(0)" (click)="addUNNumber()">Add UN Number</a>
            </p>
          </div>

          <govuk-textarea label="Additional Details" formControlName="techRecord_adrDetails_tank_tankDetails_tankStatement_productList" [limit]="1500" />
        </ng-container>
      </ng-container>

      <govuk-textarea label="Special provisions" formControlName="techRecord_adrDetails_tank_tankDetails_specialProvisions" [limit]="1024" />

      <!-- Tank Inspections section -->
      <span class="govuk-label govuk-label--m">Tank Inspections</span>

      <govuk-input label="TC2: Certificate Number" formControlName="techRecord_adrDetails_tank_tankDetails_tc2Details_tc2IntermediateApprovalNo" />

      <govuk-date label="TC2: Expiry Date" formControlName="techRecord_adrDetails_tank_tankDetails_tc2Details_tc2IntermediateExpiryDate" />

      <div class="govuk-section-break--visible govuk-!-margin-top-4 govuk-!-margin-bottom-6"></div>

      <!-- TC3: Inspections -->
      <div class="govuk-form-group" formArrayName="techRecord_adrDetails_tank_tankDetails_tc3Details">
        <ng-container *ngFor="let inspection of form.controls.techRecord_adrDetails_tank_tankDetails_tc3Details.controls; let i = index">
            <fieldset class="govuk-fieldset" formGroupName="{{ i }}">
              <span class="govuk-label govuk-label--m">Subsequent {{ i + 1 }}</span>

              <govuk-select 
                label="TC3: Inspection Type" 
                formControlName="techRecord_adrDetails_tank_tankDetails_tc3Details_tc3Type" 
                id="techRecord_adrDetails_tank_tankDetails_tc3Details_tc3Type_{{ i + 1}}"
                [options]="tc3InspectionOptions">
              </govuk-select>

              <govuk-input label="TC3: Certificate Number" formControlName="tc3PeriodicNumber"  id="techRecord_adrDetails_tank_tankDetails_tc3Details_tc3Type_{{ i + 1}}" />

              <govuk-date label="TC3: Expiry Date" formControlName="tc3PeriodicExpiryDate"  id="techRecord_adrDetails_tank_tankDetails_tc3Details_tc3Type_{{ i + 1}}" />

              <p class="govuk-body govuk-!-text-align-right">
                <a class="govuk-link" role="button" href="javascript:void(0)" (click)="removeTC3TankInspection(i)">Remove</a>
              </p>
              <div class="govuk-section-break--visible govuk-!-margin-top-4 govuk-!-margin-bottom-6"></div>
          </fieldset>
        </ng-container>
      </div>

      <p class="govuk-body">
        <a class="govuk-link" role="button" href="javascript:void(0)" (click)="addTC3TankInspection()">Add subsequent inspection</a>
      </p>
    </ng-container>

    <govuk-checkbox-group 
      label="Memo 07/09 (3 month extension) can be applied" 
      formControlName="techRecord_adrDetails_memosApply"
      [options]="memosApplyOptions">
    </govuk-checkbox-group>
    
    <govuk-checkbox [value]="true" label="M145" formControlName="techRecord_adrDetails_m145Statement" />

    <!-- When ADR body type contains 'battery' -->
    <ng-container *ngIf="adrService.canDisplayBatterySection($any(form.getRawValue()))">
      <govuk-radio-group label="Battery List Applicable" for="techRecord_adrDetails_listStatementApplicable">
        <ng-container *ngFor="let option of batteryListApplicableOptions">
          <govuk-radio formControlName="techRecord_adrDetails_listStatementApplicable" [value]="option.value">
            {{ option.label }}
          </govuk-radio>
        </ng-container>
      </govuk-radio-group>

      <!-- When Battery list applicable is true -->
      <ng-container *ngIf="adrService.canDisplayBatteryListNumberSection($any(form.getRawValue()))">
        <govuk-input label="Reference number" formControlName="techRecord_adrDetails_batteryListNumber" />
      </ng-container>
    </ng-container>

    <govuk-checkbox [value]="true" label="Declarations seen"  formControlName="techRecord_adrDetails_brakeDeclarationsSeen" />

    <ng-container *ngIf="adrService.canDisplayIssueSection($any(form.getRawValue()))">
      <govuk-textarea label="Issuer" formControlName="techRecord_adrDetails_brakeDeclarationIssuer" [limit]="500" />

      <govuk-checkbox [value]="true" label="Brake endurance"  formControlName="techRecord_adrDetails_brakeEndurance" />

      <ng-container *ngIf="adrService.canDisplayWeightSection($any(form.getRawValue()))">
        <govuk-number-input label="Weight (tonnes)" formControlName="techRecord_adrDetails_weight" suffix="tonnes" />
      </ng-container>
    </ng-container>

    <govuk-checkbox [value]="true" label="Declarations seen" formControlName="techRecord_adrDetails_declarationsSeen" />

    <govuk-checkbox [value]="true" label="New Certificate required" formControlName="techRecord_adrDetails_newCertificateRequested" />

    <govuk-textarea 
      label="ADR Examiner Notes"
      hint="Will not be present on the ADR certificate"
      formControlName="techRecord_adrDetails_adrCertificateNotes" 
      [limit]="1024" 
    ></govuk-textarea>

    <!-- ADR Additional Examiner Note History -->
    <h2 class="govuk-heading-m">Additional Examiner Notes History</h2>
    <ng-container *ngIf="form.controls.techRecord_adrDetails_additionalExaminerNotes?.value as notes; else noExaminerNotes">
      <ng-container *ngIf="notes?.length as notesCount; else noExaminerNotes">
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Notes</th>
              <th scope="col" class="govuk-table__header">Created By</th>
              <th scope="col" class="govuk-table__header">Date</th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
            <ng-container *ngIf="pagination.paginationOptions | async as page">
              <tr class="govuk-table__row" *ngFor="let note of notes.slice(page.start, page.end)">
                <td class="govuk-table__cell">{{ note.note | defaultNullOrEmpty }}</td>
                <td class="govuk-table__cell">{{ note.lastUpdatedBy | defaultNullOrEmpty }}</td>
                <td class="govuk-table__cell">{{ note.createdAtDate | date : 'dd/MM/yyyy HH:mm' | defaultNullOrEmpty }}</td>
                <td class="govuk-table__cell">
                  <a class="govuk-link" href="javascript:void(0)" (click)="getEditAdditionalExaminerNotePage(((page.currentPage - 1) * page.itemsPerPage) + page.start)">
                    Edit
                  </a>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <app-pagination #pagination tableName="adr-notes-history" [numberOfItems]="notesCount" [itemsPerPage]="3" />
      </ng-container>
    </ng-container>
    <ng-template #noExaminerNotes>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row border-b-0">
          <dt class="govuk-summary-list__key">No additional examiner notes history available</dt>
        </div>
      </dl>
    </ng-template>

    <govuk-textarea label="ADR Certificate Notes" formControlName="techRecord_adrDetails_adrCertificateNotes" [limit]="1500" />

    </ng-container>
</div>