<div class="govuk-form-group-radio">
  <fieldset>
    <legend>
      <h1 tag>
        {{ controlLabel }}
        <ng-container *ngIf="tags?.length">
          <div>
            <app-tag *ngFor="let tag of tags" [type]="tag.colour">{{ tag.label }}</app-tag>
          </div>
        </ng-container>
      </h1>
    </legend>
    <div data-module="govuk-radios">
      <div *ngFor="let option of options">
        <input
          govukRadio
          type="radio"
          id="{{ controlName }}-{{ option.value }}-radio"
          formControlName="{{ controlName }}"
          [value]="option.value"
          [checked]="option.value === value"
          [name]="id"
        />
        <label
          for="{{ controlName }}-{{ option.value }}-radio'"
        >
          {{ option.label }}
        </label>
      </div>
    </div>
  </fieldset>
</div>
