@import 'node_modules/govuk-frontend/govuk/all';

.govuk-label--s::ng-deep > .govuk-form-group {
  > fieldset > legend > .govuk-fieldset__heading, > label, > h1 > label {
    @extend .govuk-label--s;
  }
}

.govuk-\!-font-weight-bold::ng-deep > .govuk-form-group {
  > fieldset > legend > .govuk-fieldset__heading, > label, > h1 > label {
    @extend .govuk-\!-font-weight-bold;
  }
}

:host {
  .input-group::ng-deep .govuk-form-group label
  {
    @extend .govuk-label;
    font-weight: 400;
  }
}
