:host {
  th.govuk-table__header,
  td.govuk-table__cell {
    padding: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  td.govuk-table__cell {
    vertical-align: middle;
  }

  th.govuk-table__header:not(:last-of-type),
  td.govuk-table__cell:not(:last-of-type),
  th.govuk-table__header:first-of-type,
  td.govuk-table__cell:first-of-type {
    padding-right: 0.5rem;
  }

  tfoot td {
    padding: 0.5rem 0;
  }

  table {
    govuk-form-group-input ::ng-deep .govuk-form-group {
      margin-bottom: 0 !important;
    }

    govuk-form-group-select ::ng-deep .govuk-form-group {
      margin-bottom: 0 !important;
    }
  }

  govuk-form-group-checkbox ::ng-deep .govuk-form-group {
    margin-bottom: 0.75rem;
  }

  .radio-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    margin-bottom: 30px;
    gap: 0 5rem;
    flex-wrap: wrap;
  }
}
