@import 'node_modules/govuk-frontend/govuk/all';

:host {
  govuk-form-group-radio::ng-deep .govuk-form-group .govuk-fieldset__heading,
  govuk-form-group-select::ng-deep .govuk-form-group label,
  {
    @extend .govuk-label--s;
  }
}
