@import 'node_modules/govuk-frontend/govuk/all';

.input-row {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.govuk-input--size {
  min-width: 2em !important;
  width: 11em !important;
}

.govuk-label--s::ng-deep > .govuk-form-group {
  > fieldset > legend > .govuk-fieldset__heading, > label, > h1 > label {
    @extend .govuk-label--s;
  }
}

.govuk-\!-font-weight-bold::ng-deep > .govuk-form-group {
  > fieldset > legend > .govuk-fieldset__heading, > label, > h1 > label {
    @extend .govuk-\!-font-weight-bold;
  }
}

:host {
  .input-group::ng-deep .govuk-form-group label
  {
    @extend .govuk-label;
    font-weight: 400;
  }
}
