@import 'node_modules/govuk-frontend/govuk/all';

:host {
  govuk-form-group-input::ng-deep .govuk-form-group label {
    @extend .govuk-label;
  }
}

.govuk-label--s::ng-deep > .govuk-form-group {
  > fieldset > legend > .govuk-fieldset__heading, > label, > h1 > label {
    @extend .govuk-label--s;
  }
}

.border-b-0 {
  border-bottom: none !important;
}
