/* You can add global styles to this file, and also import other style files */
@import 'node_modules/accessible-autocomplete';
@import 'node_modules/govuk-frontend/dist/govuk/index';
@import './styles';

.vehicle_heading {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 25px;
  margin-top: -5px;

  > h1,
  > h2,
  > h3 {
    flex: 1;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 15px;
  }
}

/** Global govuk styles */
.govuk-form-group-input {
  @extend .govuk-form-group;

  > h1 {
    @extend .govuk-label-wrapper;

    > label {
      @extend .govuk-label;
      @extend .govuk-label--m;

      display: flex;
      align-items: center;
      column-gap: 0.5rem;
      flex-wrap: wrap;

      > div {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        flex-wrap: wrap;
      }
    }
  }
}

.govuk-form-group-checkbox {
  @extend .govuk-form-group;
  > fieldset {
    @extend .govuk-fieldset;
    > legend {
      @extend .govuk-fieldset__legend;
      @extend .govuk-fieldset__legend--m;
      > h1 {
        @extend .govuk-fieldset__heading;
      }
    }
    > div {
      > div {
        @extend .govuk-checkboxes__item;

        > input {
          @extend .govuk-checkboxes__input;
        }

        > label {
          @extend .govuk-label;
          @extend .govuk-checkboxes__label;
        }
      }
    }
  }
}

.govuk-form-group-select {
  @extend .govuk-form-group;
  > label {
    @extend .govuk-label;
    @extend .govuk-label--m;
  }
  > div {
    @extend .govuk-hint;
  }
  > select {
    @extend .govuk-select;
  }
}

.govuk-form-group-text-area {
  @extend .govuk-form-group;
  @extend .govuk-character-count;
  > h1 {
    @extend .govuk-label-wrapper;
    > label {
      @extend .govuk-label;
      @extend .govuk-label--m;
    }
  }
  > div {
    @extend .govuk-hint;
  }
  > textarea {
    @extend .govuk-textarea;
  }

  > div#with-hint-info {
    @extend .govuk-character-count__message;
  }
}

.govuk-form-group-date {
  @extend .govuk-form-group;

  > fieldset {
    @extend .govuk-fieldset;

    > legend {
      @extend .govuk-fieldset__legend;
      @extend .govuk-fieldset__legend--m;

      > h1 {
        @extend .govuk-fieldset__heading;
      }
    }

    > div {
      @extend .govuk-date-input;

      > div {
        @extend .govuk-date-input__item;

        > div {
          @extend .govuk-form-group;

          > label {
            @extend .govuk-label;
            @extend .govuk-date-input__label;
          }

          > input {
            @extend .govuk-input;
          }
        }
      }
    }
  }
}

.govuk-form-group-radio {
  @extend .govuk-form-group;
  > fieldset {
    @extend .govuk-fieldset;
    > legend {
      @extend .govuk-fieldset__legend;
      @extend .govuk-fieldset__legend--m;
      > h1 {
        @extend .govuk-fieldset__heading;
      }
    }
    > div {
      > div {
        @extend .govuk-radios__item;

        > input {
          @extend .govuk-radios__input;
        }

        > label {
          @extend .govuk-label;
          @extend .govuk-radios__label;
        }
      }
    }
  }
}

.govuk-form-group-select {
  @extend .govuk-form-group;
  > label {
    @extend .govuk-label;
    @extend .govuk-label--m;
  }
  > div {
    @extend .govuk-hint;
  }
  > select {
    @extend .govuk-select;
  }
}

.govuk-form-group-split-controls {
  @extend .govuk-form-group;
  > h1 {
    @extend .govuk-label-wrapper;
    > label {
      @extend .govuk-label;
      @extend .govuk-label--m;
    }
  }
}
