:host {
  .govuk-accordion__section--expanded {
    .govuk-accordion__section-content {
      display: block;
    }
  }

  /* Overrides for the default accordion */
  .condensed {
    .govuk-accordion__section-toggle,
    .govuk-accordion__section-heading-text,
    .govuk-accordion__section-summary {
      margin-bottom: 0;
    }
  
    .govuk-accordion__section .govuk-accordion__section-button {
      padding: 15px 0!important;
      border-bottom: 0;
    }

    .accordion-heading-flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0 20px;
    }

    .dashed-bottom-border {
      border-bottom: 1px dashed #b1b4b6 !important;
    }
  }
}